{% extends 'webb/main.html' %}
{% load static %}
{% block content %}
<style>
    html,
.root {
  padding: 0;
  margin: 0;
  font-size: 18px;
}

body {
  font: menu;
  font-size: 1rem;
  line-height: 1.4;
  padding: 0;
  margin: 0;
}
section {
  padding-top: 4rem;
  width: 50%;
  margin: auto;
}
h1 {
  font-size: 2rem;
  font-weight: 500;
}
details[open] summary ~ * {
  animation: open 0.3s ease-in-out;
}

@keyframes open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
details summary::-webkit-details-marker {
  display: none;
}

details summary {
  width: 100%;
  padding: 0.5rem 0;
  border-top: 1px solid black;
  position: relative;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 300;
  list-style: none;
}

details summary:after {
  content: "+";
  color: black;
  position: absolute;
  font-size: 1.75rem;
  line-height: 0;
  margin-top: 0.75rem;
  right: 0;
  font-weight: 200;
  transform-origin: center;
  transition: 200ms linear;
}
details[open] summary:after {
  transform: rotate(45deg);
  font-size: 2rem;
}
details summary {
  outline: 0;
}
details p {
  font-size: 0.95rem;
  margin: 0 0 1rem;
  padding-top: 1rem;
}


</style>

<section>
    <h1>
      Frequently Asked Questions
    </h1>
    <br>
    <br>
    <details>
      <summary>How long will my order take to arrive?</summary>
      
      <p>Orders generally take 5-7 business days to arrive, assuming there are no delays</p>
    </details>
    <details>
      <summary>What is your returns policy?</summary>
      <p>We accept returns for 30 days after you have recieved your order as long as items are still in brand new condition</p>
    </details>
    <details>
      <summary>When will my size be in stock?
      </summary>
      <p>We usually get a full restock on all of our items on the 3rd of every month</p>
    </details>
    <details>
      <summary>
        Can I exchange my item
      </summary>
      <p>We ony allow exchanges for the same item but of a different size</p>
    </details>
  </section>
{% endblock %}