<!DOCTYPE html>
{% load static %}
<html>

<head>
  <title>Ecom</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    .w3-sidebar a {
      font-family: "Roboto", sans-serif
    }

    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .w3-wide {
      font-family: "Montserrat", sans-serif;
    }
  </style>
</head>

<body class="w3-content" style="max-width:1200px">
  <nav class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top" style="z-index:3;width:250px" id="mySidebar">
    <div class="w3-container w3-display-container w3-padding-16">
      <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-display-topright"></i>
      <h3 class="w3-wide"><b>GOLDEN SHOE</b></h3>
    </div>

    <a href="{% url 'store' %}" class="w3-bar-item w3-button w3-padding">Store</a>
    <a href="{% url 'faq' %}" class="w3-bar-item w3-button w3-padding">FAQ</a>
    {% if user.is_authenticated %}
    <a href="{% url 'logout' %}" class="w3-bar-item w3-button w3-padding">Logout</a>
    {% else %}
    <a href="{% url 'login' %}" class="w3-bar-item w3-button w3-padding">Login</a>
    {% endif %}

    <div style="position: absolute; bottom: 30px;">
      <a href="#footer" class="w3-bar-item w3-button w3-padding">Facebook</a>
      <a href="#footer" class="w3-bar-item w3-button w3-padding">Twitter</a>
      <a href="#footer" class="w3-bar-item w3-button w3-padding">Instagram</a>
    </div>
  </nav>

  <!-- Top menu on small screens -->
  <header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge">
    <div class="w3-bar-item w3-padding-24 w3-wide">GOLDEN SHOE</div>
    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-24 w3-right" onclick="w3_open()"><i
        class="fa fa-bars"></i></a>
  </header>

  <!-- Overlay effect when opening sidebar on small screens -->
  <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu"
    id="myOverlay"></div>


  <div class="w3-main" style="margin-left:250px">

    <!-- Push down content on small screens -->
    <div class="w3-hide-large" style="margin-top:100px"></div>


    <header class="w3-container w3-xlarge">
      <!-- <p class="w3-left">Shoes</p> -->
      <p class="w3-right">

        <i class="fa fa-search" onclick="hidesearch()"></i>
        <a href="{% url 'cart' %}" style="text-decoration: none; color: black;"><i class="fa fa-shopping-cart "></i>
          {% if cartItems %}
          <span style="font-size:small; padding-bottom: 20px;"> ({{ cartItems }} items in your cart)</span>
          {% else %}
          {% endif %}
        </a>




        <i>
          <div class="search-bar mt-sm-2 mr-2" id="searchbar" style="display: none; margin-left:250px ">
            <form action="{% url 'search' %}" method="get">
              <input type="text" class="form-control" name="search" id="search" placeholder="Search for products"
                required>
              <button type="submit" class="btn btn-outline-dark">Search</button>
            </form>
          </div>
        </i>

      </p>
    </header>

    {% block content %}



    {% endblock content %}
  </div>
  <script>

    function hidesearch() {
      var x = document.getElementById("searchbar")
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
    function w3_open() {
      document.getElementById("mySidebar").style.display = "block";
      document.getElementById("myOverlay").style.display = "block";
    }

    function w3_close() {
      document.getElementById("mySidebar").style.display = "none";
      document.getElementById("myOverlay").style.display = "none";
    }
  </script>
  <script type="text/javascript">
    var user = '{{request.user}}'

    function getToken(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
          var cookie = cookies[i].trim();
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
    var csrftoken = getToken('csrftoken')

    function getCookie(name) {
      // Split cookie string and get all individual name=value pairs in an array
      var cookieArr = document.cookie.split(";");

      // Loop through the array elements
      for (var i = 0; i < cookieArr.length; i++) {
        var cookiePair = cookieArr[i].split("=");

        /* Removing whitespace at the beginning of the cookie name
        and compare it with the given string */
        if (name == cookiePair[0].trim()) {
          // Decode the cookie value and return
          return decodeURIComponent(cookiePair[1]);
        }
      }

      // Return null if not found
      return null;
    }
    var cart = JSON.parse(getCookie('cart'))

    if (cart == undefined) {
      cart = {}
      console.log('Cart Created!', cart)
      document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
    }
    console.log('Cart:', cart)

  </script>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

  <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>

</body>

</html>