{% extends 'webb/main.html' %}
{% load static %}
{% block content %}
<style>
    .card {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      width: 40%;
    }
    
    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    
    .container {
      padding: 2px 16px;
    }
</style>
<a class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190; Continue Shopping</a>
    <br>
    
    <br>
   
    <div class="card" style="margin: auto; width: 70%;">
      <img src="{{pids.imageURL}}" alt="Avatar" style="width:100%; height: 450px;object-fit: cover;">
      <div class="container">
        <h4><b>{{pids.name}}</b></h4> 
        <p>{{pids.description}}</p> 
        <p><b>£{{pids.price|floatformat:2}}</b></p>
        <button data-product={{pids.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
        <br>
        <br>
      </div>
    </div>
    

    
    
    
   
{% endblock %}
